<!DOCTYPE html>
<html>
<head>
    <title>sign up</title>
</head>
<body>
    <form action="/sign" method="post">
        <input type="text" name="email" placeholder="email">
        <br/>
        <input type="text" name="password" placeholder="password">
        <br/>
        <input type="text" name="password_2" placeholder="password check">
        <br/>
        <button id="submit" type="submit">Submit</button>
        <br/>
    </form>
    <a href="/login"><button>go to login</button></a>
    {%if msg%}
    <script>
        alert("{{msg}}")
    </script>
    {%endif%}
</body>
</html>